<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route %>    
    <%= @train.route.name %>
  <% else %>
    "Маршрут не назначен"
    <% end %>
</p>

<p>
  "Вагонов: "
  <% Wagon::TYPES.each do |t| %>
    <strong><%= t %></strong>
    <%= @train.wagons.where(wagon_type: t).count %>
  <% end %>
</p>

  <% Wagon::TYPES.each do |t| %>
<p>
    <strong><%= t %> - </strong>
    <% w = @train.wagons.where(wagon_type: t) %>
    Верхних: 
    <%= w.map(&:up_seats).compact.sum %>
    Нижних: 
    <%= w.map(&:down_seats).compact.sum %>
</p>
  <% end %>
  
<p>
  <strong>Вагоны:</strong>
</p>
  
  <% wagons = @train.wagons_order_asc? ? @train.wagons.order_asc : @train.wagons.order_desc %>
  <% wagons.each do |w| %>  
    <p>
      <%= link_to(w, w) %>
    </p>    
  <% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
