<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @ticket.id %>
</p>

<p>
  <strong>Train:</strong>
  <%= @ticket.train.number %>
</p>

<p>
  <strong>Начальная станция:</strong>
  <%= @ticket.start_railway_station %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
