<p id="notice"><%= notice %></p>

<% @routes.each do |route| %>
  <p>
    <strong>Name:</strong>
    <%= route.name %>
    <%= route.arrive_departure_time(@start_station, @end_station) %>
  </p>
  <p>
    <strong>Trains:</strong>
    <% if route.trains.empty? %>
      "Нет"
    <% else %>
      <% route.trains.each do |train| %>
        <p>
          <%= train.number  %>
          <%= link_to "Купить", new_ticket_path(train_id: train.id, start_railway_station_id: @start_station.id, finish_railway_station_id: @end_station.id) %>
        </p>
      <% end %>
    <% end %>
  </p>
<% end %>