<%= form_for [@train, @wagon] do |f| %>
  <% if @wagon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wagon.errors.count, "error") %> prohibited this wagon from being saved:</h2>

      <ul>
      <% @wagon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :train, "Поезд" %><br>    
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :type, "Тип" %><br>
    <%= f.select :type, Wagon::TYPES_HASH %>
  </div>
  
  <div class="field">
    <%= f.label :up_seats %><br>
    <%= f.text_field :up_seats %>
  </div>
  
  <div class="field">
    <%= f.label :down_seats %><br>
    <%= f.text_field :down_seats %>
  </div>

  <div class="field">
    <%= f.label :side_up_seats %><br>
    <%= f.text_field :side_up_seats %>
  </div>
  
  <div class="field">
    <%= f.label :side_down_seats %><br>
    <%= f.text_field :side_down_seats %>
  </div>

  <div class="field">
    <%= f.label :seat_places %><br>
    <%= f.text_field :seat_places %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
