<p id="notice"><%= notice %></p>

<p>
  <strong>Wagon:</strong>
    <%= @wagon.id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @wagon.wagon_type %>
</p>

<p>
  <strong>Train:</strong>
  <%= @wagon.train.number %>
</p>

<p>
  <strong>Down seats:</strong>
  <%= @wagon.down_seats %>
</p>

<p>
  <strong>Up seats:</strong>
  <%= @wagon.up_seats %>
</p>

<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', wagons_path %>
